body
    background-image: url('../images/lufei.jpg')
    background-attachment fixed
    background-repeat: no-repeat
    background-position:center center
    background-size:cover
    background-color:#fff